.saver {
    .saver-info {
        .saver-content {
            .percentage-bar-text {
                max-width: 500px;
            }

            .buttons {
                display: flex;
                gap: 12px;
                @include mediaQuery($pb-sm, max) {
                    flex-wrap: wrap;
                }

                .col {
                    &:first-child {
                        input {
                            width: calc(100% - 55px);
                            text-align: center;
                            background-color: $white-8;
                        }
                    }

                    &:last-child {
                        display: flex;
                        gap: 12px;
                        @include mediaQuery($pb-sm) {
                            width: 100%;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}