.saver {
    .pool-info {
        .buttons, .buttons .col:last-child {
            display: flex;
            gap: 12px;
        }

        .buttons {
            @include mediaQuery($pb-sm, max) {
                flex-wrap: wrap;
            }
        }

        .buttons .col:last-child {
            @include mediaQuery($pb-sm) {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }

    .active-vote {
        .vote-content {
            .buttons, .buttons .col:last-child {
                display: flex;
                gap: 12px;
            }

            .buttons {
                @include mediaQuery($pb-sm, max) {
                    flex-wrap: wrap;
                }
            }

            .buttons .col:last-child {
                @include mediaQuery($pb-sm) {
                    width: 100%;
                    justify-content: flex-end;
                }
            }
        }
    }
}