html {
    &.noscroll {
        overflow: hidden;
        height: 0;
    }
}

body {
    font-family: "Poppins", sans-serif;
    @include fontSize();
    color: $white;
    background-color: $color-bg;
    // for touch devices
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: $header-height;
}

a {
    display: inline-block;
    text-decoration: none;

    &.btn {
        color: $black;
        padding: 10px 26px;
        border-radius: 8px;
        
        &-white {
            background-color: $white;
        }

        &-blue {
            color: $white;
            background-color: $color-blue;
        }

        &-transparent {
            color: $white;
            border: 2px solid $white-14;
        }

        &-viewmore, &-plus {
            padding: 6px 18px;
            border-radius: 16px;
        }
    }

    &.btn-border {
        color: $white-50;
        border: 2px solid $white-0;
        padding: 3px 18px;
        border-radius: 18px;

        &:hover, &-active {
            color: $white;
            border-color: $white-14;
        }

        &-active {
            cursor: not allowed;
            pointer-events: none;
        }
    }

    &.btn-x, &.btn-social {
        position: relative;
        img {
            @include centerElement();
        }
    }

    &.btn-x {
        width: 50px;
        height: 50px;
    }

    &.btn-social {
        width: 44px;
        height: 44px;
        
        &-circle {
            border-radius: 50%;
            background-color: $white-6;
        }
    }
}

img {
    // remove white space below
    vertical-align: top;
    
    &.resp {
        @include imgResponsive;
    }
}

header .head-wrapper, main, footer {
    overflow-x: clip;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 spacer();
    @include mediaQuery($pb-lg) {
        padding: 0 spacer(2);
    }
}

main {
    min-height: $min-height;
    padding-top: spacer(2);
}

section {
    padding-bottom: spacer(10);
}

.h1, .h2, .h3, .h4, .h5, .title {
    font-weight: 700;
}

.h1 {
    @include fontSize(48px, 1.2);
    @include mediaQuery($pb-sm, max) {
        @include fontSize(36px, 1.2);
    }
}

.h2 {
    @include fontSize(40px, 1.2);
    @include mediaQuery($pb-sm, max) {
        @include fontSize(26px, 1.2);
    }
}

.size-lg {
    @include fontSize(24px);
}

.size-lgmd {
    @include fontSize(20px);
}

.size-md {
    @include fontSize(18px);
}

.size-sm {
    @include fontSize(14px);
}

.size-xs {
    @include fontSize(12px);
}

.clearfix {
    @include clearfix;
}

.cursor {
    cursor: pointer;
    pointer-events: initial;
}

.inactive {
    cursor: not allowed;
    pointer-events: none;
}

.show {
    display: block;
    &-important {
        display: block !important;
    }

    &-visibility {
        visibility: visible;
    }
    &-opacity {
        opacity: 1;
    }
}

.hide {
    display: none;
    &-important {
        display: none !important;
    }
    
    &-visibility {
        visibility: hidden;
    }
    &-opacity {
        opacity: 0;
    }
}

.align {
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.display {
    &-grid {
        display: grid;
    }
    &-flex {
        display: flex;
    }
}

.word {
    &-wrap {
        word-wrap: break-word;
    }
    &-nowrap {
        white-space: nowrap;
    }
}

.white {
    &-50 {
        color: $white-50;
    }
    &-100 {
        color: $white;
    }
}

input, textarea, select {
    font-size: 100%;

    // remove autofill background color
    &:-webkit-autofill, 
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

input {
    // Hide arrows from input number
    // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button, 
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    // Firefox
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

.input {
    &-search {
        position: relative;
        border-bottom: 2px solid $white-8;
        margin-bottom: 24px;

        &::before {
            content: "";
            @include centerElement(y);
            left: 0;
            background-image: url("/src/img/input_search.svg");
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
        }

        input {
            width: 100%;
            padding: 8px;
            padding-left: 26px;
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
                width: 18px;
                height: 18px;
                background-image: url("/src/img/input_search_reset.svg");
                background-repeat: no-repeat;
            }
        }
    }
}