.mw-grid {
    &-12, &-11, &-10, &-9, &-8, &-7, &-6 {
        margin: 0 auto;
    }
    &-12 {
        max-width: $mw-grid-12;
    }
    &-11 {
        max-width: $mw-grid-11;
    }
    &-10 {
        max-width: $mw-grid-10;
    }
    &-9 {
        max-width: $mw-grid-9;
    }
    &-8 {
        max-width: $mw-grid-8;
    }
    &-7 {
        max-width: $mw-grid-7;
    }
    &-6 {
        max-width: $mw-grid-6;
    }
}

.header-title {
    position: relative;
    @include fontSize(24px);
    padding-left: spacer();
    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 8px;
        height: 22px;
        background-color: $white;
        border-radius: 2px;
    }
}

.in-box {
    background-color: $white-4;
    border-radius: 10px;
    padding: 12px;
}

.in-border {
    padding: 8px 20px;
    border: 2px solid $white-14;
    border-radius: 8px;
}