.mw-grid {
    &-12, &-11, &-10, &-9, &-8, &-7, &-6 {
        margin: 0 auto;
    }
    &-12 {
        max-width: $mw-grid-12;
    }
    &-11 {
        max-width: $mw-grid-11;
    }
    &-10 {
        max-width: $mw-grid-10;
    }
    &-9 {
        max-width: $mw-grid-9;
    }
    &-8 {
        max-width: $mw-grid-8;
    }
    &-7 {
        max-width: $mw-grid-7;
    }
    &-6 {
        max-width: $mw-grid-6;
    }
}

.header-title {
    position: relative;
    @include fontSize(24px);
    padding-left: spacer();
    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 8px;
        height: 22px;
        background-color: $white;
        border-radius: 2px;
    }
}

.in-box {
    background-color: $white-4;
    border-radius: 10px;
    padding: 12px;
}

.listings {
    .list {
        p {
            display: inline-block;
            position: relative;
            padding: 17px spacer(2);
            padding-right: spacer(3);
            &::before {
                content: "";
                position: absolute;
                top: 20px;
                left: 20px;
                width: 6px;
                height: 16px;
                background-color: $white;
                border-radius: 2px;
            }

            background-color: $white-4;
            border-radius: 10px;
        }
        
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &.list-center {
        .list {
            text-align: center;
        }
    }

    &.list-block {
        .list {
            p {
                display: block;
            }
            margin-bottom: 0;
        }
    }

    &.list-transform-size {
        .list {
            p {
                overflow: hidden;
                padding: 0;
                vertical-align: top;
                span {
                    display: inline-block;
                    padding: 17px 40px;
                    padding-right: 60px;
                }
            }
        }
    }
}

.tokens {
    .token-btn, .token-info {
        position: relative;
        padding: 12px spacer();
        background-color: $white-6;
        border-radius: 8px;

        .token-content {
            display: inline-grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: 14px;
            vertical-align: top;
            
            .token-icon {
                position: relative;
                width: 40px;
                height: 40px;
                border: 2px solid $white-4;
                border-radius: 50%;
                img {
                    @include centerElement();
                }

                .token-total {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    width: 18px;
                    height: 18px;
                    @include fontSize(10px, 1);
                    text-align: center;
                    background-color: $white-14;
                    border-radius: 50%;
                    span {
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
    }

    .token-btn {
        z-index: 5;
        position: relative;
        .token-arrow {
            @include centerElement(y);
            right: spacer();
            &, span {
                width: 20px;
                height: 20px;
            }

            span {
                display: block;
                position: relative;
                img {
                    @include centerElement();
                }

                transform: rotate(0);
                transition: transform 0.5s;
            }
        }
    }

    .token-info {
        .info-item {
            display: inline-grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: spacer();
            vertical-align: top;
            width: 100%;

            margin-bottom: spacer(1.5);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .token-info-container {
        position: relative;
        margin-top: 6px;
        @include mediaQuery($pb-sm, max) {
            overflow: hidden;
            max-height: 0;
            transition: max-height 1s;
        }

        .token-info {
            @include mediaQuery($pb-sm) {
                overflow: hidden;
                max-height: 0;
                position: absolute;
                top: -20px;
                left: 0;
                width: 300px;
                background-color: #232931;
                opacity: 0;
                transition: max-height 1s, top 0.5s, opacity 0.5s;
            }
        }
    }

    .token-item {
        &.active {
            z-index: 55;
            .token-btn {
                .token-arrow {
                    span {
                        transform: rotate(180deg);
                    }
                }
            }
            .token-info-container {
                @include mediaQuery($pb-sm, max) {
                    max-height: 1000px;
                }
                .token-info {
                    @include mediaQuery($pb-sm) {
                        max-height: 1000px;
                        top: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.toggle-switches {
    position: relative;
    display: grid;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $white-4;
        border-radius: 8px;
    }
    &::before {
        width: 100%;
    }
    &::after {
        width: 50%;
        transition: left 0.5s, background-color 0.5s;
    }
    
    .ts-item {
        z-index: 1;
        position: relative;
        cursor: pointer;
        padding: 10px 20px;
        transition: color 0.5s;
    }

    &.ts-active-1 {
        &::after {
            left: 0;
        }
        .ts-item:nth-child(1) {
            color: $black;
        }
    }

    &.ts-active-2 {
        &::after {
            left: 50%;
        }
        .ts-item:nth-child(2) {
            color: $black;
        }
    }

    &.ts-bg {
        &-white {
            &::after {
                background-color: $white;
            }
        }

        &-green {
            &::after {
                background-color: $color-green;
            }
        }

        &-pink {
            &::after {
                background-color: $color-pink;
            }
        }

        &-from-green-to-pink {
            &::after {
                background-color: $color-green;
            }

            &.ts-active-2 {
                &::after {
                    background-color: $color-pink;
                }
            }
        }

        &-grey {
            &::after {
                background-color: $white-14;
            }

            &.ts-active-1, &.ts-active-2 {
                .ts-item {
                    color: $white;
                }
            }
        }
    }
}