<footer>
    <div class="row-top">
        <div class="contents">
            <div class="logo m-b-52">{{> moret-logo }}</div>
            <div class="links m-b-52">
                <div class="link">
                    <div class="title size-md m-b-24">The company</div>
                    <ul>
                        <li class="m-b-12"><a href="https://drive.google.com/file/d/1DcYv8hVc6B4DJXZU1_LRPK81MNvs9A3j/view?usp=sharing" class="white-50">About</a></li>
                        <li class="m-b-12"><a href="https://meridian-moretti.gitbook.io/moret/developments/audit" class="white-50">Audit</a></li>
                        <li class="m-b-12"><a href="#" class="white-50">For the record</a></li>
                    </ul>
                </div>
                <div class="link">
                    <div class="title size-md m-b-24">Communities</div>
                    <ul>
                        <li class="m-b-12"><a href="https://discord.gg/k4pFEg7KNr" class="white-50">Traders</a></li>
                        <li class="m-b-12"><a href="https://discord.gg/ZhdCf8TSMm" class="white-50">Liquidity Providers</a></li>
                        <li class="m-b-12"><a href="https://discord.gg/6ZvH6yQbSb" class="white-50">Perpetuals</a></li>
                        <li class="m-b-12"><a href="https://discord.gg/9BjbJcAnut" class="white-50">Fixed Index</a></li>
                    </ul>
                </div>
                <div class="link">
                    <div class="title size-md m-b-24">Useful links</div>
                    <ul>
                        <li class="m-b-12"><a href="https://meridian-moretti.gitbook.io/moret/overview/master" class="white-50">Help</a></li>
                        <li class="m-b-12"><a href="https://meridian-moretti.gitbook.io/moret/trading/how-to-trade" class="white-50">Start
                                trading</a></li>
                        <!-- <li class="m-b-12"><a href="#" class="white-50">Advertising</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="social">
            <a href="https://discord.gg/k4pFEg7KNr" class="btn-social btn-social-circle"><img src="/src/img/social_discord.svg" alt="Discord icon" /></a>
            <a href="https://twitter.com/moret_io" class="btn-social btn-social-circle"><img src="/src/img/social_twitter.svg" alt="Twitter icon" /></a>
            <a href="https://t.me/moret_options" class="btn-social btn-social-circle"><img src="/src/img/social_telegram.svg" alt="Telegram icon" /></a>
        </div>
    </div>
    <div class="row-bottom">
        <div class="legals p-b-32">
            <ul>
                <li><a href="#" class="white-50 size-sm">Legal (legal information)</a></li>
                <li><a href="#" class="white-50 size-sm">Privacy center</a></li>
                <li><a href="#" class="white-50 size-sm">Privacy policy</a></li>
                <li><a href="#" class="white-50 size-sm">Cookie settings</a></li>
                <li><a href="#" class="white-50 size-sm">About ads</a></li>
            </ul>
        </div>
        <div class="copyright size-sm p-b-32">&copy; 2022 Moret. All rights reserved.</div>
    </div>
</footer>