<header>
    <div class="head-wrapper">
        <div class="head-contents p-t-40 p-b-40">
            <div class="head-main">
                <div class="logo">{{> moret-logo }}</div>
                <div class="menu"><a href="#" class="js-preventDefault js-menuOpen"><img src="/src/img/btn_burgermenu.svg" /></a></div>
            </div>
            <div class="head-nav menuPopup">
                <div class="nav-x"><a href="#" class="btn-x js-preventDefault js-menuClose"><img src="/src/img/btn_close.svg" /></a></div>
                <div class="nav-logo">{{> moret-logo }}</div>
                <div class="nav-contents">
                    <ul class="items size-sm">
                        <li><a href="perpetual.html" class="btn-border">Perpetual</a></li>
                        <li><a href="trader.html" class="btn-border">Trader</a></li>
                        <li><a href="liquidity-provider.html" class="btn-border">Liquidity provider</a></li>
                        <li><a href="saver.html" class="btn-border">Saver</a></li>
                    </ul>
                    <div class="items-right connection-button"></div>
                </div>
            </div>
        </div>
    </div>
</header>