<header>
    <div class="head-wrapper">
        <div class="head-contents p-t-40 p-b-40">
            <div class="head-main">
                <div class="logo">{{> moret-logo }}</div>
            </div>
        </div>
    </div>
</header>