<header>
    <div class="head-wrapper">
        <div class="head-contents p-t-40 p-b-40">
            <div class="head-main">
                <div class="logo">{{> moret-logo }}</div>
                <div class="menu"><a href="#" class="js-preventDefault js-menuOpen"><img src="/src/img/btn_burgermenu.svg" /></a></div>
            </div>
            <div class="head-nav menuPopup">
                <div class="nav-x"><a href="#" class="btn-x js-preventDefault js-menuClose"><img src="/src/img/btn_close.svg" /></a></div>
                <div class="nav-logo">{{> moret-logo }}</div>
                <div class="nav-contents">
                    <ul class="items size-sm">
                        <li><a href="https://meridian-moretti.gitbook.io/moret/overview/master" target="_blank" class="btn-border">About</a></li>
                        <li><a href="https://meridian-moretti.gitbook.io/moret/developments/audit" target="_blank" class="btn-border">Audit</a></li>
                        <li><a href="https://github.com/eightwoods/moret" target="_blank" class="btn-border">Development</a></li>
                    </ul>
                    <div class="items-right items-right-column-gap-lg">
                        <div class="social">
                            <a href="https://discord.gg/Vy2K5mAKVF" target="_blank" class="btn-social"><img src="/src/img/social_discord.svg" alt="Discord icon" /></a>
                            <a href="https://twitter.com/moret_io" target="_blank" class="btn-social"><img src="/src/img/social_twitter.svg" alt="Twitter icon" /></a>
                            <a href="https://t.me/moret_options" target="_blank" class="btn-social"><img src="/src/img/social_telegram.svg" alt="Telegram icon" /></a>
                        </div>
                        <div class="button"><a href="trader.html" class="btn btn-white">Start trading</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>