.overlay-popup {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    width: 100vw;
    height: 100vh;
    @include popupBg;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-height: 420px) {
        display: block;
        justify-content: initial;
        align-items: initial;
        @include scrollElement(y);
    }
    

    .op-box {
        position: relative;
        width: 420px;
        background-color: #151B24;
        border: 2px solid $white-14;
        border-radius: 10px;
        padding: spacer();
        margin: spacer();
        @media (max-height: 420px) {
            margin-right: auto;
            margin-left: auto;
        }

        .op-close {
            position: absolute;
            top: spacer();
            right: 8px;
            width: 38px;
            height: 38px;
            background-image: url("/src/img/btn_close.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .op-content {
        .connectwallets {
            li {
                cursor: pointer;
                background-color: $white-2;
                border-radius: 8px;
                padding: spacer();
                padding-right: spacer(2.5);
                margin-bottom: 8px;
                background-repeat: no-repeat;
                background-position: right 18px center;

                &:nth-child(1) {
                    background-image: url("/src/img/connect_metamask.svg");
                }
                &:nth-child(2) {
                    background-image: url("/src/img/connect_walletconnect.svg");
                }
                &:nth-child(3) {
                    background-image: url("/src/img/connect_coinbase.svg");
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}